@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?1349945cfea72e3a744c8b3d04370f0e") format("truetype"),
url("./flaticon.woff?1349945cfea72e3a744c8b3d04370f0e") format("woff"),
url("./flaticon.woff2?1349945cfea72e3a744c8b3d04370f0e") format("woff2"),
url("./flaticon.eot?1349945cfea72e3a744c8b3d04370f0e#iefix") format("embedded-opentype"),
url("./flaticon.svg?1349945cfea72e3a744c8b3d04370f0e#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-bio:before {
    content: "\f101";
}
.flaticon-sin-colores-sinteticos:before {
    content: "\f102";
}
.flaticon-love:before {
    content: "\f103";
}
.flaticon-veterinario:before {
    content: "\f104";
}
.flaticon-pets:before {
    content: "\f105";
}
.flaticon-dieta:before {
    content: "\f106";
}
.flaticon-instagram:before {
    content: "\f107";
}
.flaticon-facebook:before {
    content: "\f108";
}
.flaticon-paquete:before {
    content: "\f109";
}
.flaticon-metodo-de-pago:before {
    content: "\f10a";
}
.flaticon-llamada-telefonica:before {
    content: "\f10b";
}
.flaticon-mapa:before {
    content: "\f10c";
}
.flaticon-email:before {
    content: "\f10d";
}
