$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?97852e66c79812a2ecd96ab9da64475c") format("truetype"),
url("./flaticon.woff?97852e66c79812a2ecd96ab9da64475c") format("woff"),
url("./flaticon.woff2?97852e66c79812a2ecd96ab9da64475c") format("woff2"),
url("./flaticon.eot?97852e66c79812a2ecd96ab9da64475c#iefix") format("embedded-opentype"),
url("./flaticon.svg?97852e66c79812a2ecd96ab9da64475c#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "bio": "\f101",
    "sin-colores-sinteticos": "\f102",
    "love": "\f103",
    "veterinario": "\f104",
    "pets": "\f105",
    "dieta": "\f106",
    "instagram": "\f107",
    "paquete": "\f108",
    "metodo-de-pago": "\f109",
    "llamada-telefonica": "\f10a",
    "mapa": "\f10b",
    "email": "\f10c",
    "helado": "\f10d",
    "huella": "\f10e",
    "gelatina": "\f10f",
    "palos": "\f110",
    "salsa-de-tomate": "\f111",
    "facebook": "\f112",
);

.flaticon-bio:before {
    content: map-get($flaticon-map, "bio");
}
.flaticon-sin-colores-sinteticos:before {
    content: map-get($flaticon-map, "sin-colores-sinteticos");
}
.flaticon-love:before {
    content: map-get($flaticon-map, "love");
}
.flaticon-veterinario:before {
    content: map-get($flaticon-map, "veterinario");
}
.flaticon-pets:before {
    content: map-get($flaticon-map, "pets");
}
.flaticon-dieta:before {
    content: map-get($flaticon-map, "dieta");
}
.flaticon-instagram:before {
    content: map-get($flaticon-map, "instagram");
}
.flaticon-paquete:before {
    content: map-get($flaticon-map, "paquete");
}
.flaticon-metodo-de-pago:before {
    content: map-get($flaticon-map, "metodo-de-pago");
}
.flaticon-llamada-telefonica:before {
    content: map-get($flaticon-map, "llamada-telefonica");
}
.flaticon-mapa:before {
    content: map-get($flaticon-map, "mapa");
}
.flaticon-email:before {
    content: map-get($flaticon-map, "email");
}
.flaticon-helado:before {
    content: map-get($flaticon-map, "helado");
}
.flaticon-huella:before {
    content: map-get($flaticon-map, "huella");
}
.flaticon-gelatina:before {
    content: map-get($flaticon-map, "gelatina");
}
.flaticon-palos:before {
    content: map-get($flaticon-map, "palos");
}
.flaticon-salsa-de-tomate:before {
    content: map-get($flaticon-map, "salsa-de-tomate");
}
.flaticon-facebook:before {
    content: map-get($flaticon-map, "facebook");
}
